<h3> Edit your Comment </h3>

<%= form_for(@comment)  do |f| %>

    <label> Name:</label><br>
    <%= f.text_field :name %><br>

    <label>Username:</label><br>
    <%= f.text_field :username %><br>

    <label>Comment body:</label><br>
    <%= f.text_area :body %><br>

    <%= f.collection_check_boxes :recipe_id, Recipe.all, :id, :name %>

   

    <%= submit_tag "Submit Comment" %>
<% end %>



<%= button_to "Delete", @comment, method: :delete, data: { confirm: "Really?" } %>

<br><%= link_to "Create a recipe", "/recipes/new" %><br>
<%= link_to "View all recipes", "/recipes" %><br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>