<h3> Create a Comment </h3>

<%= form_tag comments_path do %>

    <label>Username:</label><br>
    <%= @user.name %><br>

   <br> <label> Name:</label><br>
    <%= text_field_tag :"comment[name]" %><br>



    <label>Comment body:</label><br>
    <%= text_area_tag :"comment[body]" %><br>


    <%= hidden_field_tag :"comment[recipe_id]", params[:id] %>
    <%= hidden_field_tag :"comment[username]", @user.username %>


    <%= submit_tag "Submit Comment" %>

<% end %>

<br><%= link_to "Create a recipe", "/recipes/new" %><br>
<%= link_to "View all recipes", "/recipes" %><br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>



