
<p>
<% @recipes.each do |recipe|%><br><li>
   Name: <%= recipe.name %><br>
   Username: <%= recipe.username %><br>
   Description: <%= recipe.description %><br>
   Instructions: <%= recipe.instructions %><br>
   Ingredients: <%= recipe.ingredients %><br>
   Recipe ID: <%=recipe.id %><br>

   <%= link_to "create comment", controller: "comments", action: "new", id: recipe.id%><br>
   


    
    <% end %>
    </li></p><br>