<h3> Create a Recipe </h3>

<%= form_for (@recipe) do |f| %>

    <label> Name:</label><br>
    <%= f.text_field :name %><br>

    <label>Recipe Description:</label><br>
    <%= f.text_area :description %><br>

    <label>Recipe instructions:</label><br>
    <%= f.text_area :instructions %><br>

   

    <%= hidden_field_tag :"recipe[username]", @user.username %>

    <h3>Ingredients</h3>
    
    <%= f.fields_for :ingredients do |builder| %>
        
    <%= render 'recipe_ingredient_form', :f => builder %> <br>

         
     


           

<% end %>
    <%= f.submit  %>
<% end %>




