<h3> Create a Recipe </h3>

<%= form_tag recipes_path do %>

    <label>Username:</label><br>
    <%= @user.username %><br>

   <br> <label> Recipe Name:</label><br>
    <%= text_field_tag :"recipe[name]" %><br>



    <label>Recipe Description:</label><br>
    <%= text_area_tag :"recipe[description]" %><br>

    <label>Recipe instructions:</label><br>
    <%= text_area_tag :"recipe[instructions]" %><br>

    <label>Recipe ingredients:</label><br>
    <%= text_area_tag :"recipe[ingredients]" %><br>


    <%= hidden_field_tag :"recipe[username]", @user.username %>


    <%= submit_tag "Submit recipe" %>
<% end %>