<h3> Create a Recipe </h3>

<%= form_for :recipe, as: :post, url: recipes_path do |f| %>

    <label> Name:</label><br>
    <%= f.text_field :name %><br>

    <label>Recipe Description:</label><br>
    <%= f.text_area :description %><br>

    <label>Recipe instructions:</label><br>
    <%= f.text_area :instructions %><br>

   

    <%= hidden_field_tag :"recipe[username]", @user.username %>

    <h3>Ingredients</h3>
    <%= field_set_tag @ingredient do %>
    <%= text_field_tag :ingredient_name %>
    <%= hidden_field_tag :"[recipe_id]", Recipe.maximum(:id) + 1 %>

     <% end %>

           


    <%= f.submit  %>
<% end %>