<h3> Create a Recipe </h3>

<%= form_for :recipe, as: :post, url: recipes_path do |f| %>

    <label> Name:</label><br>
    <%= f.text_field :name %><br>

    <label>Username:</label><br>
    <%= f.text_field :username %><br>

    <label>Recipe Description:</label><br>
    <%= f.text_area :description %><br>

    <label>Recipe instructions:</label><br>
    <%= f.text_area :instructions %><br>

    <label>Recipe ingredients:</label><br>
    <%= f.text_area :ingredients %><br>



   


    <%= hidden_field_tag :"recipe[username]", @user.username %>

  


    <%= f.submit  %>
<% end %>