<h3> User Edit Form </h3>

<%= form_for(@user) do |f| %>

    <label> Name:</label><br>
    <%= f.text_field :name %><br>

 

    <label>User Bio:</label><br>
    <%= f.text_field :bio %><br>

    <%= button_to "Delete", @user, method: :delete, data: { confirm: "Really?" } %>

    <%= f.submit %>
<% end %>