<h3> User Form </h3>

<%= form_tag users_path do %>

    <label> Name:</label><br>

    <%= text_field_tag :"user[name]" %><br>

    <label>Username:</label><br>

    <%= text_field_tag :"user[username]" %><br>

    <label>User Bio:</label><br>

    <%= text_field_tag :"user[bio]" %><br>

    <label>User Password:</label><br>

    <%= text_field_tag :"user[password]" %><br>

    <%= submit_tag "Submit User" %>
<% end %>