


<h1> This is your information </h1>


    Name: <%= @user.name %><br>
    Username: <%= @user.username %><br>
    Bio: <%= @user.bio %><br>

    <h2><%= @user.username %> </h2> has commented on the following recipes:
 
<% @user.recipes.each do |recipe| %><br>
  Recipe  <%= link_to recipe.name, recipe_path(recipe) %>
<% end %>




<% @user.comments.each do |comment| %><br>
   Comment  <%= link_to comment.name, recipe_path(recipe_url) %>
  <% end %>
   
 